#bigPicture {
	font-size: 2em;
	text-align:center;
	height: 1.5em;
}

#bigPicture[contentEditable=true]:empty:not(:focus):before{
	content:"click here to enter your Big Picture"
}

.period.group, .bookend, .periodPlaceholder {
	float: left;
}

.group.bookend.start .card:after {
	content: " (start)";
}

.group.bookend.end .card:after {
	content: " (end)";
}

.card {
	width: 10em;
	min-height: 16em;
	margin: 1em;
	padding: 0.5em;
	font-size: 1em;
	
	text-align:center;
	content-align:center;
	
	display:block;
	border-left:auto;
	border-right:auto;
	
	background-attachment:local;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size: 9em 9em;
	
	border-radius: 6px;
}

.card.light {
	background-image:url("light.svg");
}

.card.dark {
	background-image:url("dark.svg");
}

.bookend.card, .period.card, .event.card, .scene.card{
	background-color: white;
	border: solid black 1px;
}
	
.period.card, .scene.card, .periodPlaceholder, .scenePlaceholder  {
	margin-left: 4em;
	margin-right: 4em;
}

.scene.card {
	font-size: 1em;
	background-size: 3em 3em;
}

.event.card, .eventPlaceholder  {
	width: 16em;
	min-height: 10em;
	background-size: 6em 6em;
}

#toolbox {
	position:fixed;
	top:21em;
	left:0em;
	margin:1em;
	padding: 0.5em;
	border: dashed grey 1px;
	width: 10em;
	min-height: 16em;
	border-radius: 6px;
	background-color:#fcfcfc;
	z-index: 9998
}

#newest {
	z-index: 9999;
}

#toolbox ul li {
	margin-bottom: 1em;
	text-decoration: underline;
	cursor: all-scroll;
}

#toolbox ul li.disabled {
	text-decoration: line-through;
	color: grey;
	cursor: not-allowed;
}

body {
	margin:0; padding: 0;
	background-color:#fcfcfc;
}

.group {
	position:relative;
}